@import "~bulmaswatch/darkly/_variables.scss";
@import "~bulma/bulma.sass";
@import "~bulmaswatch/darkly/_overrides.scss";

$pink: #ad2770;

.navbar, .navbar-menu {
  background-color: black !important;
}

.has-text-pink {
  color: $pink;
}

.navbar-item {
  background: none !important;
}

.navbar-brand > .navbar-item {
  color: $pink;
  font-weight: bold;
  &.locale-switch {
    color: darkslategrey;
    &.active {
      color: $pink;
    }
  }
}

.event-tile {
  cursor: pointer;
  background: rgba(black, 0.4);
  width: 20%;
  min-width: 300px;
  padding: 0.5rem;
  margin: 0.5rem;
}
